#whatsapp{
   
   display: flex;
   flex-direction: column;
   width: 400px;
   margin: auto;
   align-items: center;
   justify-content: center;
   gap: 5px;
   font-size: 22px;
   border: 1px solid red;
   padding: 10px;
   text-align: center;
   
   
}
#message{
    height: 50px;
    width: 250px;
}
